<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<!--Configuração do meu projeto com o branco de dados que sera utilizado--> 
	<connectionStrings>
		<add  name="dbvendas" connectionString="server=localhost; user ID=root; password=root; database=dbvendas"
			  providerName="MySql.Data.MySqlClient;"/>
	</connectionStrings>
</configuration>