<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<!--Configuração do meu projeto com o branco de dados que sera utilizado--> 
	


	<connectionStrings>
		<add name="dbvendas"
			 connectionString="Server=127.0.0.1;Database=BDVENDAS;Uid=root;Pwd=root;"			 
			 providerName="MySql.Data.MySqlClient"/>
		

	</connectionStrings>
	
</configuration>
<!--////"server=localhost;database=dbvendas;server=localhost;uid=root;pwd=xxxx  BD_VENDAS  BDVENDAS"-->